body {
  background-color: azure
}

.post
{
  background-color: DarkSeaGreen;
  font-family: cursive;
  font-size: 20px;
  border: 2px solid red;
  margin-top: 15px;
  margin-bottom: 15px;
}
.about
{
  background-color: LightSeaGreen;
  font-size: 30px;
  font-family:"Times New Roman";
  text-align: justify;
}
